<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>View Post</title>
</h:head>

<h:body>
	
	<!-- Get the relevant data -->
	<ui:param name="activePost" value="#{postsBean.activePost}" />
	
	
	<!-- Post details -->
	<h2>#{activePost.title}</h2>

	<h4>#{activePost.content}</h4>
	
	<!-- using a custom component in a comment section -->
	<ui:include src="/WEB-INF/components/comment-section.xhtml">
		<ui:param name="commentList" value="#{ activePost.comments }" />
	</ui:include>
	
	<p>Leave a comment:</p>
	
	<h:form id="newCommentForm">
		<h:inputTextarea label="comment" id="comment" />
		<h:commandButton value="Submit comment" />
	</h:form>
	
	<hr />
	
	<p>Some footer</p>

</h:body>
</html>

