<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:composition>
	
	<h3>Create user: </h3>
		<h:form id="create_user_form">
			<h:messages>
				<h:message for="create_user_form"></h:message>
			</h:messages>	
		
			<h:panelGrid columns="2">
			   <h:outputLabel for="first_name">First name:</h:outputLabel>
			   <h:inputText id="first_name" value="#{ user.firstName }" required="true" label="First name"/>
			   
			   <h:outputLabel for="last_name">Last name:</h:outputLabel>
			   <h:inputText id="last_name" value="#{ user.lastName }" required="true" label="Last name"/>
			
			   <h:outputLabel for="email">Email:</h:outputLabel>
			   <h:inputText id="email" value="#{ user.email }" required="true" label="Email"/>
			
			   <h:outputLabel for="password">Password:</h:outputLabel>
			   <h:inputSecret id="password" value="#{ user.password }" required="true" label="Password" />        
			   
			   <h:commandButton value="Create user" action="#{ user.saveUser() }" />
			</h:panelGrid>
			
		</h:form>
		
	</ui:composition>
	
	
</html>
